name: Build Documentation

# Controls when the workflow will run
on:
  # [push, pull_request, workflow_dispatch]
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

  # permissions:
  #   contents: write

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Set up Python 3.13
        uses: actions/setup-python@v2
        with:
          python-version: "3.13.0"
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Installation Process has started.

      - name: Install dependencies
        run: |
          sudo apt-get install libglfw3-dev libgles2-mesa-dev
          # sudo apt-get install libosmesa6-dev freeglut3-dev
          # sudo apt install libosmesa6
          python -m pip install --upgrade pip
          pip install -r jupyterbook/requirements.txt

      - name: Build HTML
        run: |
          cd jupyterbook/
          # make html
          sphinx-build -b html . build/html/ -a
          # sphinx-build jupyterbook jupyterbook/_build/html -a -b html

      - name: Run ghp-import
        run: |
          ghp-import -n -p -f jupyterbook/build/html

# jobs:
#   docs:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4
#       - uses: actions/setup-python@v5
#       - name: Install reservoirflow
#         run: |
#           pip install .
#       - name: Install dependencies
#         run: |
#           cd docs
#           pip install -r requirements.txt
#       - name: Sphinx build
#         run: |
#           cd docs
#           sphinx-build -b html source/ build/html/ -a
#       - name: Deploy to GitHub Pages
#         uses: peaceiris/actions-gh-pages@v3
#         if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
#         with:
#           publish_branch: gh-pages
#           github_token: ${{ secrets.GITHUB_TOKEN }}
#           publish_dir: _build/
#           force_orphan: true
