name: Build Documentation

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: |
          # sudo apt-get install libglfw3-dev libgles2-mesa-dev
          pip install --upgrade pip
          pip install -r jupyterbook/requirements.txt
          cd jupyterbook/
          sphinx-build . ./_build/html -a -b html

      - name: Build HTML
        run: |
          # cd jupyterbook/
          # make html
          # sphinx-build -b html . _build/html/ -a
          # sphinx-build . _build/html -a -b html
          # jupyter-book build jupyterbook/
          # sphinx-build . ./_build/html -a -b html

      - name: Run ghp-import
        run: |
          python -m ghp_import -n -p -f jupyterbook/_build/html
